<h1> {{title}}</h1>
<nav>
  <ul>
    <li><a routerLink="/adultes"> Les adultes</a></li>
    <li><a routerLink="/aines"> Les aînés</a></li>
    <li><a routerLink="/covid19"> covid19</a></li>
    <li><a routerLink="/retraites"> Les retraités</a></li>
    <li><a routerLink="/en/aines"> En Ainés</a></li>


  </ul>
</nav>
<router-outlet></router-outlet>
<h2>Liste des personnes</h2>

<div class="personne" *ngFor="let personne of personnes">
  <span>{{ personne.prenom }} </span>
  <span> {{ personne.nom}}</span>
</div>
<h2>Liste ordonnée</h2>
<ol>
  <li *ngFor="let pers of personnes">
    {{pers.prenom}} {{pers.nom}} {{pers.age}}
  </li>
</ol>

<h2>Les mineurs</h2>
<ul>
  <ng-container *ngFor="let personne of personnes">
    <li *ngIf="personne.age < 18">
      {{personne.prenom}} {{personne.nom}} -- age {{personne.age}}
    </li>
  </ng-container>

</ul>
<h2>{{titreage}}</h2>
<span>Voici le plus {{leplus}}: {{affichage.prenom}} {{affichage.nom}} {{affichage.age}} </span>
<button (click)="toggleAge()">{{titrebouton}}</button>
<h2>Age moyen est {{affichage.amoyen}}</h2>
<br>
<a href="assets/data/liste.json" target="_blank">Données brutes: liste.json</a>
<br>
<a href="https://google.com" target="_blank">google.com</a>
